[submodule "store"]
	path = store
	url = git@github.com:ecomplus/store.git
[submodule "ecomplus-stores/barradoce"]
	path = ecomplus-stores/barradoce
	url = git@github.com:barradoce/barradoce.git
[submodule "ecomplus-stores/tiasonia"]
	path = ecomplus-stores/tiasonia
	url = git@github.com:tiasonia/tiasonia.git
[submodule "ecomplus-stores/ladorosa"]
	path = ecomplus-stores/ladorosa
	url = git@github.com:ladotextil/ladorosa.git
[submodule "ecomplus-stores/ladofit"]
	path = ecomplus-stores/ladofit
	url = git@github.com:ladotextil/ladofit.git
