# Force linking local packages on `store` submodule
prefer-workspace-packages=true
link-workspace-packages=true

# Expose Astro dependencies for `pnpm` users
shamefully-hoist=true

strict-peer-dependencies=false
